{% extends "base.html" %}
{% block content %}
<h1>Your gear</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Kilometers</th>
      <th>Manufacturer / Model</th>
      <th>Year</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for g in gear %}
    <tr>
      <td><a href="{{base_path}}gear/{{g.id}}">{{g.name}}</a></td>
      <td>{{g.distance}}</td>
      <td>
        {% if g.link %}
        <a href="{{g.link}}">{{g.model}}</a>
        {% else %}
        {{g.model}}
        {% endif %}
      </td>
      <td>{{g.year}}</td>
      <td> 
        <form method="post" action="{{base_path}}gear/use/{{g.id}}">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
              {% if g.retired %}
              Retired
              {% elseif g.in_use %}
              In use
              {% else %}
              Not in use
              {% endif %}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><button type="{% if g.in_use %}button{% else %}submit{% endif %}"
                name="use" value="true" class="btn btn-link">In use</button></li>
              <li><button type="{% if g.in_use or g.retired %}submit{% else %}button{% endif %}"
                name="disable" value="true" class="btn btn-link">Not in use</button></li>
              <li><button type="{% if g.retired %}button{% else %}submit{% endif %}"
                name="retire" value="true" class="btn btn-link">Retired</button></li>
            </ul>
          </div>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<p>
  <a href="{{base_path}}gear/new" class="btn btn-success">Add gear</a>
</p>

{% endblock %}