{% extends "base.html" %}
{% block content %}
  <h1>Create new gear</h1>
  {% if errors %}
  <div class="alert alert-danger">
    <ul>
      {% for err in errors %}
      <li>{{err}}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <form method="post" action="{{base_path}}gear">
    <div class="form-group">
      <label>Name</label>
      <input name="name" class="form-control" type="text" />
    </div>
    <div class="form-group">
      <label>Manufacturer / Model</label>
      <input name="model" class="form-control" type="text" />
    </div>
    <div class="form-group">
      <label>Link</label>
      <input name="link" class="form-control" type="text" />
    </div>
    <div class="form-group">
      <label>Year</label>
      <input name="year" class="form-control" type="number" />
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea name="description" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
{% endblock %}
