{% extends "base.html" %}
{% block content %}
<h1>Your components</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Kilometers</th>
      <th>Manufacturer / Model</th>
      <th>Year</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for component in components %}
    <tr>
      <td><a href="{{base_path}}component/{{component.id}}">{{component.name}}</a></td>
      <td>{{component.distance}}</td>
      <td>
        {% if component.link %}
        <a href="{{component.link}}">{{component.model}}</a>
        {% else %}
        {{component.model}}
        {% endif %}
      </td>
      <td>{{component.year}}</td>
      <td> 
        <form method="post" action="{{base_path}}component/use/{{component.id}}">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
              {% if component.retired %}
              Retired
              {% elseif component.in_use %}
              {{bikes[component.bike_id]}}
              {% else %}
              Not in use
              {% endif %}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              {% for b in bikes %}
              <li><button type="{% if b.id == component.bike_id %}button{% else %}submit{% endif %}" 
                name="bike" value="{{b.id}}" class="btn btn-link">{{b.name}}</button></li>
              {% endfor %}
              <li><button type="{% if component.in_use %}submit{% else %}button{% endif %}" 
                name="disable" class="btn btn-link">Not in use</button></li>
              <li><button type="{% if component.retired %}button{% else %}submit{% endif %}" 
                name="retire" class="btn btn-link">Retired</button></li>
            </ul>
          </div>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<p>
  <a href="{{base_path}}component/new" class="btn btn-success">Add component</a>
</p>

{% endblock %}