{% extends "base.html" %}
{% block content %}
  <h1>{{bike.name}}</h1>
  <ul>
    <li><strong>Kilometers:</strong> {{bike.distance}}</li>
    <li><strong>Manufacturer / Model:</strong> {{bike.model}}</li>
    <li><strong>Link:</strong> {{bike.link}}</li>
    <li><strong>Year:</strong> {{bike.year}}</li>
  </ul>
  <p>
    {{bike.description}}
  </p>
  <p>
    <a href="{{base_path}}bike/edit/{{bike.id}}" class="btn btn-default">Edit</a>
  </p>
  {% if components %}
  <table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Kilometers</th>
      <th>Manufacturer / Model</th>
    </tr>
  </thead>
  <tbody>
  {% for component in components %}
  <tr>
      <td><a href="{{base_path}}component/{{component.id}}">{{component.name}}</a></td>
      <td>{{component.distance}}</td>
      <td>
        {% if component.link %}
        <a href="{{component.link}}">{{component.model}}</a>
        {% else %}
        {{component.model}}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No components attached</p>
  {% endif %}
{% endblock %}
