{% extends "base.html" %}
{% block content %}
<h1>Your bikes</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Bike</th>
      <th>Kilometers</th>
      <th>Manufacturer / Model</th>
      <th>Year</th>
      <th>Status</th>
      <th>Add kilometers</th>
    </tr>
  </thead>
  <tbody>
    {% for bike in bikes %}
    <tr>
      <td><a href="{{base_path}}bike/{{bike.id}}">{{bike.name}}</a></td>
      <td>{{bike.distance}}</td>
      <td>
        {% if bike.link %}
        <a  href="{{bike.link}}">{{bike.model}}</a>
        {% else %}
        {{bike.model}}
        {% endif %}
      </td>
      <td>{{bike.year}}</td>
      <td>
        <form method="post" action="{{base_path}}/bike/{{bike.id}}/use">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
              {% if bike.in_use %}
              In use
              {% else %}
              Retired
              {% endif %}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><button type="{% if bike.in_use %}button{% else %}submit{% endig %}" name="in_use" class="btn btn-link">In use</button></li>
              <li><button type="{% if bike.in_use %}submit{% else %}button{% endig %}" name="retire" class="btn btn-link">Retired</button></li>
            </ul>
          </div>
        </form>
      </td>
      <td>
        <form class="form-inline">
          <input class="form-control" type="number" /> <button type="submit" class="btn btn-primary">Add</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<p>
  <a href="{{base_path}}bike/new" class="btn btn-success">Add bike</a>
</p>

{% endblock %}
