{% extends "base.html" %}
{% block content %}
  <h1>Spessu</h1>
  <ul>
    <li><strong>Kilometers:</strong> 256</li>
    <li><strong>Manufacturer / Model:</strong> Specialized diverge comp carbon</li>
    <li><strong>Link:</strong> https://www.specialized.com/gb/en/diverge-comp-carbon/p/107479?color=197298-107479</li>
    <li><strong>Year:</strong> 2017</li>
  </ul>
  <p>
    Ostettu sellon pyörästä kesällä 2017. Kuiturunko ja Shimano 105 osasarja
  </p>
  <p>
    <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
{% endblock %}