{% extends "base.html" %}
{% block content %}
  <h1>Edit Spessu</h1>

  <form>
    <div class="form-group">
      <label>Bike</label>
      <input class="form-control" value="Spessu" type="text">
    </div>
    <div class="form-group">
      <label>Manufacturer / Model</label>
      <input class="form-control" value="Specialized diverge comp carbon" type="text">
    </div>
    <div class="form-group">
      <label>Link</label>
      <input class="form-control" value="https://www.specialized.com/gb/en/diverge-comp-carbon/p/107479?color=197298-107479" type="text">
    </div>
    <div class="form-group">
      <label>Year</label>
      <input class="form-control" value="2017" type="text">
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control">Ostettu sellon pyörästä kesällä 2017. Kuiturunko ja Shimano 105 osasarja
      </textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
  <p>
    <button class="btn btn-danger">Delete</button> 
  </p>
{% endblock %}