{% extends "base.html" %}
{% block content %}
<h1>Your gear</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Kilometers</th>
      <th>Manufacturer / Model</th>
      <th>Year</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="#">Shimano winter</a></td>
      <td>1500</td>
      <td>Shimano MW7 Enduro Trail</td>
      <td>2016</td>
      <td> 
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">In use <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">In use</a></li>
            <li><a href="#">Not in use</a></li>
            <li><a href="#">Retired</a></li>
          </ul>
        </div>
      </td>
      <td><a class="btn btn-default btn-sm" href="#">Edit</a></td>
    </tr>
    <tr>
      <td><a href="#">FiveTen</a></td>
      <td>1000</td>
      <td><a href=http://www.fiveten.com/us/maltese-falcon-2016-carbon-red>FiveTen Maltese Falcon</a></td>
      <td>2016</td>
      <td> 
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Not in use<span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">In use</a></li>
            <li><a href="#">Not in use</a></li>
            <li><a href="#">Retired</a></li>
          </ul>
        </div>
      </td>
      <td><a class="btn btn-default btn-sm" href="#">Edit</a></td>
    </tr>
    <tr>
      <td><a href="#">Windstopper jacket</a></td>
      <td>2000</td>
      <td><a href=http://www.goreapparel.co.uk/gore-bike-wear/men/e-windstopper-soft-shell-jacket/JWELMS.html?cgid=gbw-men-geartype-jackets-jackets&prefn1=colorRefinement&start=12&prefv1=08&dwvar_JWELMS_color=0899>Gore Windstopper soft shell jacket</a></td>
      <td>2016</td>
      <td> 
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">In use<span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">In use</a></li>
            <li><a href="#">Not in use</a></li>
            <li><a href="#">Retired</a></li>
          </ul>
        </div>
      </td>
      <td><a class="btn btn-default btn-sm" href="#">Edit</a></td>
    </tr>
  </tbody>
</table>


<p>
  <a href="#" class="btn btn-success">Add gear</a>
</p>

{% endblock %}